*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.esquerda{
    position: relative;
    width: 550px;
    height: 100vh;
    background-color: #75ACAE;
    
}

#apresentacao{
    position: absolute;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 40px;
    color: #fff;
    
}

.itens1{
    position: absolute;
    margin-top: 90px;
    margin-left: 50px;
}

#calendario{
    display: flex;
}

#data{
    font-size: 40px;
    margin-top: 25px;
    margin-left: 50px;
    color: #fff;

}

#relogio{
    display: flex;
    margin-top: 20px;
}

#hora{
    font-size: 40px;
    margin-top: 25px;
    margin-left: 50px;
    color: #fff;

}

hr{
    width: 150%;
    margin-top: 20px;
    margin-left: -51px;  
}

.pessoas{
    display:flex;
    margin-top: 100px;
    text-decoration: none;
}

.calendario{
    display: flex;
    margin-top: 50px;
    text-decoration: none;
}

#legenda1{
    font-size: 30px;
    margin-top: 45px;
    margin-left: 50px;
    color: #fff;

}

#legenda2{
    font-size: 30px;
    margin-top: 45px;
    margin-left: 30px;
    color: #fff;

}

#circulo{
    width: 130px;
    height: 130px;
    background-color: rgb(66, 131, 131);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ft2{
    width: 90px;
    height: 90px;
}

.sair{
   position: absolute;
   display: flex;
   margin-top: 870px;
   margin-left: 20px;
   text-decoration: none;

}

#legenda3{
    font-size: 30px;
    margin-top: 3px;
    margin-left: 15px;
    color: #fff;

}

body{
    display: flex;
}

.direita{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escuro{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.199);
   
}

#informacoes{
    width: 120vh;
    height: 85vh;
    background-color: #fff;
    z-index: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.escolha{
    display: flex;
    justify-content: center;
    margin-top: 350px;
}

#legenda4{
    font-size: 6vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.432);
}


.calendario-agendamento {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
#mes {
    font-size: 1.4rem;
}
#datas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}
#datas > * {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    aspect-ratio: 1;
}
.dias-semana {
    user-select: none;
}
.dias {
    --tamanho-dias: 4rem;
    height: var(--tamanho-dias);

    transition: background ease-in 150ms;
}
.dias:hover {
    background: #98E2E1;
    cursor: pointer;
}

#dia-25 {
    border: none;
    background: #00B6AB;
    position: relative;
}

#label-detalhes {
    position: absolute;
    width: 100%;
    height: 100%;
}
#click-detalhes {
    appearance: none;
    width: 100%;
    height: 100%;
}
#detalhes {
    display: none;
    position: absolute;
    color: white;
    background: #00B6AB;
    border-radius: 0.5rem;
    font-size: 0.8;
    text-wrap: nowrap;
    text-align: left;
    box-sizing: border-box;
    padding: 1rem;

    translate: calc(52% + var(--tamanho-dias) / 2);
}
#detalhes > * {
    margin-block: 0.125rem;
}
#linha-detalhes {
    height: 1px;
    background: white;
}
#detalhes :nth-child(6) {
    font-weight: bold;
    text-decoration-line: underline;
}

#label-detalhes:has(input:checked) + #detalhes {
    display: block;
}