*{
    margin: 0;
}
body{
    background: linear-gradient( #9DF5D0, #E5FFFF );
}    


.informacoes {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-flow: column;
    gap: 40px;
    align-items: center;
    min-height: 600px;
    border-radius: 20%;
    background-color: #33A8A2;
    color: white;
    padding-inline: 3%;
}
.faixa{
    height: 400px;
    border-radius: 1%;
    background-color:#33A8A2 ;
    display: flex;
    justify-content: start; 
    text-align: center;
    font-size: 3rem;
    color: white;
    align-items: center;
    margin: 100px 0px 0px 0px;
}
.faixa .texto {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 10vh;
    gap: 30px;
}
.faixa h4 {
    font-size: 2rem;
}
.quadrado{
   display: flex;
   justify-content: space-around;
   gap: 2px;
   align-items: center;
   text-align: center;
   height: 1000px;
   font-size: 2rem;
}
.faixa img{
    height: 400px;
    width: 600px;
    display: flex;
}
.imagemfundo{
    background-image: url(quem_somos-imagens/quemsomos_img.png);
    background-repeat: no-repeat;
    background-size: cover;

    min-block-size: 50vh;
    font-size: 3rem;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagemfundo h3 {
    z-index: 1;
}
.imagemfundo::after{
    content: '';
    position: absolute;
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.329);
    inset: 0;
} 
.imagemfundo{
  position: relative;
}