.consultas {
    height: 80%;
    width: 26vw;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.7rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* chrome, safari, opera */
.consultas::-webkit-scrollbar {
    display: none;
}

.pedido {
    background: #A4D5D4;
    margin: 1rem;
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-flow: column;
}
.texto {
    display: flex;
}
.texto :nth-child(1) {
    font-weight: bold;
}
.texto {
    margin-block: 0.3rem;
}
.mensagem :nth-child(2) {
    background: rgb(255, 247, 220);
    border: 0.05rem solid rgba(0, 0, 0, 0.384);
    padding: 0.2rem;
    margin: 0.4rem;
}
.pedido label {
    position: relative;
    max-width: fit-content;
    align-self: flex-end;
    background: #004945;
    color: white;
    padding: 0.125rem;
    border-radius: 1rem;
}
.pedido input {
    appearance: none;
    position: absolute;
    inset: 0;   
    width: 100%;
    height: 100%;
    background: red;
    opacity: 0.1;
}
.pedido input:checked {
    background: purple;
    opacity: 0.8;   
}


/* tela oculta */
#detalhes {
    opacity: 0;
    width: 59%;
    height: 80%;
    padding: 0.5rem;
    background: white;
    margin-inline: 5% 0;
    box-shadow: 0.2rem 0.2rem 0.7rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#detalhes::-webkit-scrollbar {
    display: none;
}

.container-paciente {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    background: #E0FFF5;
    padding: 0.4rem;
}
.container-paciente #imagem {
    grid-row-start: 1;
    grid-row-end: 4;
}
.container-paciente :nth-child(5) {
    grid-row-start: 3;
}
.container-paciente :nth-child(6) {
    grid-row-start: 3;
}

#container-consulta {
    --tamanho-container_consulta: 60%;

    position: relative;
    background: #E0FFF5;
    height: var(--tamanho-container_consulta);
    padding: 0.6rem;
    /* outline: red solid 2px; */
}

#form-consulta{ 
    /* outline: 2px solid rgba(255, 166, 0, 0.541); */
    display: flex;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.hora,
.data,
#entrada {
    display: flex;
    flex-flow: column;
    width: max-content;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.hour,
.date,
#entrada {
    border: none;
    background: rgb(250, 249, 223);
    margin-top: 40%;
    font-size: 1.2rem;
    padding: 0.4rem;
    outline: none;
}
/* arrumar o margin */
.date {
    margin-top: 17%;
}
#entrada {
    margin-top: 29%;
}
.entrada :nth-child(1) {
    font-weight: 600;
}

.submit {
    height: fit-content;
    align-self: flex-end;
    background: #004945;
    color: white;
    border-radius: 5rem;
    font-size: 1.2rem;
}

/* clicando em marcar consulta */
.pedido:has(input:checked) + #detalhes {
    opacity: 1;
}