.conteudo-adm .wraper {
    height: 80%;
    min-width: fit-content;
    width: 50%;
    padding: 3%;
    background: white;
    position: relative;
    overflow-y: scroll;
}
.conteudo-adm .medico {
    color: black;
    background: #D8F4EB;
    border-radius: 20px;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
    row-gap: 30%;
    align-items: center;
    font-weight: 570;
    margin-bottom: 3%
}
.conteudo-adm a {
    text-decoration: none;
}
.conteudo-adm .item {
    display: flex;
}
.conteudo-adm p:nth-child(1) {
    font-weight: bold;
}

#remover_medico {
    background: #0FA8A6;
    color: white;
    width: max-content;
    padding: 0.5rem;
    border-radius: 18px;
    font-weight: lighter;
    display: flex;
    gap: 0.7rem;
}
#remover_medico:hover {
    background: #0d8f8d;
}
#icone-x {
    position: relative;
    width: 25px;
    height: 25px;
}
#icone-x::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background: white;
    rotate: 45deg;
    translate: 0 500%;
}
#icone-x::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 2px;
    background: white;
    rotate: -45deg;
    translate: 0 500%;
}

#adicionar-medico {
    position: fixed;
    width: fit-content;
    padding: 7px 20px;
    background: #0FA8A6;
    border-radius: 50px;
    color: white;
    text-wrap: nowrap;
    display: flex;
    gap: 5%;
    bottom: 7%;
}
#adicionar-medico:hover {
    background: #0d9693;
}
#plus {
    width: 30px;
    position: relative;
}
#plus::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    background: white;
    translate: 0 330%;
}
#plus::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 26px;
    background: white;
    translate: 400% -6%;
}
